<%- include('partials/header') -%>

<div>
    <h2>This is Home!</h2>
    <form action="/auth">
        <button type="submit">Login with Discord</button>
    </form>
</div>

<%- include('partials/footer') -%>